@media only screen and (min-width: 900px) {
  .features {
    text-align: left;
    display: inline-flex;
    flex-wrap:  wrap;
    justify-content: space-between;
  }

  .features > article {
    width: 44%;
    margin: 3%; 
  }

  .headerApp {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .appName {
    margin: 10px;
    text-align: left;
  }

  .subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .appStoreButton {
    flex-grow: 2;
    text-align: right;
  }

  .appLogo {
     width: 150px;
  }

  .appStoreButton > picture > img {
    text-align: right;
    width: 280px;
  }
}

@media only screen and (min-width: 1600px) {
  .headerImage {
    width: 140%;
    margin-left: -20%; 
    margin-right: -20%; 
  }
}