.footer {
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.socialList {
  list-style: none;
  padding-inline-start: 0px;
}

.socialItem {
  display: inline;
  margin: 4px;
}